<launch>
    <!-- Opdalenie paczki komunikacyjnej producenta: SICK LidarLoc2 -->
    <include file="$(find sick_lidar_localization)/launch/sick_lidar_localization.launch"/>
    <!-- Wlaczenie konwertera TF -->
    <include file="$(find dhi_amr)/tf/tf_main.launch"/>
    <!-- Odpalenie paczki komunikacyjnej producenta: SICK Microscan3 -->
    <include file="$(find sick_safetyscanners)/launch/sensor_1.launch"/>
    <include file="$(find sick_safetyscanners)/launch/sensor_2.launch"/>
    <!-- Odpalenie biblioteki laczacej odczyty z dwoch skanerow Microscan3 -->
    <include file="$(find ira_laser_tools)/launch/laserscan_multi_merger.launch"/>
    <!-- Wlaczenie skryptu komunikacyjnego ze sterownikiem PLC Delta DVP15MC11T -->
    <node pkg="dhi_amr" type="plc.py" name="plc" output="screen"/>
    <!-- Wlaczenie skryptu konwertujacego odczyt danych z plc-->
    <node pkg="dhi_amr" type="sensors_data_converter.py" name="sensors_data_converter" output="screen"/>
    <!-- Wlaczenie skryptu komunikacyjnego ze sterownikiem bezpieczenstwa - brama Modbus-->
    <node pkg="dhi_amr" type="fx_cpu.py" name="fx_cpu" output="screen"/>
    <!-- Wlaczenie skryptu komunikacyjnego z serwisem RestAPI kamery 3D SICK Visionary T-mini-->
    <node pkg="dhi_amr" type="visionary_t_mini.py" name="visionary_t_mini" output="screen"/>
    <!-- Wlaczenie skryptu komunikacyjnego z SimpleFleetManager (serwer)-->
    <!-- <node pkg="dhi_amr" type="simple_fleet_manager.py" name="simple+_fleet_manager" output="screen"/> -->

</launch>